* {
  font-family: "Metropolis Regular",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
a:hover {
  text-decoration: none;
}
.mycertificates {
  background-color: #F8F8F8;
  min-height: 400px;
  padding: 22px;
}

.mycertificates-title {
  width: 70%;
  max-width: 1200px;
  font-size: 1.5rem;
  color: #131F37;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.certificates {
  width: 70%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.cert-cell {
  background-color: white;
  border-top: 1px solid #F2F5FB;
  display: flex;
  padding: 10px;
}
.cert-cell-info {
  margin-left: 10px;
}

.cert-cell-info p {
  margin: 2px;
  color: #485776;
}
.cert-cell-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.cert-view-top {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
  height: 400px;
}
.cert-view-bottom {
  width: 40%;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.cert-view-bottom p{
  text-align: left;
  color: #FFF;
}
.cert-view-image {
  width: 40%;
  min-width: 210px;
  object-fit: contain;
}
.back, .next {
  margin-top: 120px;
  height: 160px;
  width: 10%;
  max-width: 80px;
  color: #FFF;
  font-weight: bold;
}
.back:hover, .next:hover {
  background-color: rgba(19,31,55,.5);
}

.verify-button {
  width: 280px;
  height: 40px;
  background-color: #00e0ca;
  border-radius: 6px;
  color: #FFF;
  font-weight: bold;
  
}
