.myinfo {
  background-color: rgba(19,31,55,.5);
  border-radius: 6px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 60%;
  min-width: 300px;
  display: flex;
}

.myinfo-name {
  color: #F8F8F8;
  font-weight: bold;
  font-size: 18px;
}
.myinfo-image {
  width: 80px;
  height: 80px;
}

.myinfo-right {
  margin-left: 10px;
  margin-top: 10px;
  text-align: left;
}


.myinfo-address {
  font-size: 13px;
  margin-bottom: 10px;
  word-break: break-all;
  color: #F8F8F8;
}

.myinfo-buttons {
  text-align: center;
  color: #F8F8F8;
}

.myinfo-register {
  border-radius: 8px;
  color: #00e0ca;
  font-size: 13px;
}

.export-button {
  color: #00e0ca;
  font-size: 13px;
}

.copy-button {
  color: #00e0ca;
  font-size: 13px;
}
.copy-button:hover {
  color: #F8F8F8;
}
.myinfo-register:hover {
  color: #F8F8F8;
}
.export-button:hover {
  color: #F8F8F8;
}

.logout-button {
  color: #00e0ca;
  font-size: 13px;
}
.logout-button:hover {
  color: #F8F8F8;
}
