header {
  width: 100%;
  height: 48px;
  display: flex;
  margin-top: 8px;
  margin-bottom: 20px;
}

.brand-logo {
  margin-right: auto;
  line-height: 48px;
  margin-left: 10px;
}

.header-button {
  width: 80px;
  height: 48px;
  background-color: #ccc;
  line-height: 48px;
  margin-right: 10px;
  border-radius: 10px;
}
